

@mixin bg-primary {
    background: #ffff;
}
@mixin bg-secondary {
    background: #EDEDED;
}
@mixin bg-black {
    background: #000;
}

@mixin c-primary {
    color: #ffff;
}
@mixin c-secondary {
    color: #EDEDED;
}
@mixin c-black {
    color: #000;
}




@mixin mobile {
    @media only screen and (max-width:649px) {
        @content
    }
};
@mixin tablet {
    @media only screen and (min-width:650px) and (max-width:1200px) {
        @content
    }
};

@mixin desktop-1 {
    @media only screen and (min-width:1201px) {
        @content
    }
};

@mixin desktop-2 {
    @media only screen and (min-width:1400px) {
        @content
    }
};



@mixin sectionTitle {
    letter-spacing: 0.5rem;
        word-spacing: 1rem;
        font-size: 1.5rem;
        font-weight: 400;
        @include c-black;
    
        @include mobile {
            letter-spacing: 0rem;
            word-spacing: 0rem;
        }
}
