@import 'colors';

//MOBILE FIRST
.Nav__Link{
// border: 3px solid red;
}
.Header{
   z-index: 2;
   font-family: "ROBOTO";
   height: 80px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   width: 100%;
   top: 0;
   @include bg-primary;
   padding: 0.5rem 0;
   &::after{
       content: '';
       width: 100%;
       height: 50%;
       position: absolute;
       left: 0;
       bottom: 0;
       @include bg-secondary;
       z-index: -1;
   }

   .logo{
       display: flex;
       height: 100%;
       transform: translate(5px,5px);
    }
    
    .bar{
       transform: translateY(2px);
       @media screen and (min-width:900px) {
           display: none;
       }
   }
}

.Nav{
    z-index: 1;
    @include bg-secondary;
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    &__List{
        list-style: none;
        display: flex;
        align-items: center;
        padding-inline-start: 0;
        height: 100%;
        overflow: scroll;
        li {
                cursor: pointer;
                font-weight: bold;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0 3vw;
                z-index: 22;
            }
        
            li.active {
                @include bg-black;
                @include c-primary;
            }
    }
    .auth{
        width: 120px;
        height: 100%;
        padding: 0 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
    }
}

.Footer{
    z-index: 1;
    height: 300px;
    @include bg-black;
    @include c-primary;
    display: grid;
    place-content: center;
    padding-bottom: 60px;
    //temperary/must delete this lane later
    margin-top: 40rem;
}

.SVG--skills {
    justify-self: center;
    width: 75%;
    height: auto;
    padding: 1.5rem;
}

//TABLET
@media screen and (min-width:650px) and (max-width:1200px) {
    .Nav{
        display: flex;
        flex-direction: column;
        @include bg-primary;
        border-top: none;
        border-left: 1px solid rgba(0, 0, 0, 0.07);
        top: 80px;
        // width: 15%;
        width: 125px;
        height: calc(100vh - 80px);
        right: 0;
        padding-right: 0;
        align-items: center;
        
        &__List{
            overflow: visible;
            margin-top: 6rem;
            z-index: 12;
            height: 100%;
            width: 100%;
            display: flex;
            row-gap: 1rem;
            flex-direction: column;
            padding-inline-start: 0;
            li{
                @include bg-primary;
                height: 100%;
                width: 110%;
                justify-content: center;
                padding: 1.5rem;
                z-index: 22;
                max-height: 1.5rem;
                background: transparent;
            }
        }
            .auth {
                width: 120px;
                height: 5%;
                padding: 0 1rem;
                justify-self: end;
            }    
    }

    .SVG--skills {
        width: 50%;
        height: auto;
        padding: 1.5rem;
        padding-bottom: 0;
    }

    .Footer {
        padding-bottom: 0;
    }
}

//DESKTOP
@media screen and (min-width:1201px) {
    .Nav {
        background: none;
        border-top: none;
        top: 40px;
        height: 40px;
        width: 100%;
        justify-content: flex-end;
        padding-right: 1rem;
        z-index: 2;

        &__List {
            overflow: hidden;
            height: 47px;
            display: flex;
            align-items: center;
            padding-inline-start: 0;
            box-shadow: 0px 0px 5px rgba(1, 1, 1, 0.157);

            li {
                @include bg-primary;
                height: 100%;
                padding: 0 2rem;
                z-index: 22;
            }
        }

    }

    .SVG--skills {
        // order: 1;
        width: 40%;
    }
    .Paper{
        order:2;
    }

}
@media screen and (min-width:1400px) {
   
    .SVG--skills {
        // order: 1;
        width: 30%;
    }
    .Paper{
        order:2;
    }

}






// skills hover

.test{
    transition: all 1.5s ease-in-out;
}





.hoverArea{
    transition: all 1s ease-in-out;

}


.about{
    display: grid;
    justify-items: center;
}


.hoverArea{
    cursor: pointer;
}




// changing main width responsive//cuz of sideNavBar

@media screen and (min-width:650px) and (max-width:1200px) {
    main{
        width:calc(100% - 125px);
    }
    footer{
        width: calc(100% - 125px);
    }
}












//cardskills listStyle colors
// .icon {
//     list-style: none;
//     line-height:1.5rem;
//     z-index: -1;
//     &::before {
//         z-index: -1;
//         content: '';
//         display: inline-block;
//         height: 0.5rem;
//         width: 0.5rem;
//         background: rgba(0, 0, 0, 0.349);
//         border-radius: 50%;
//         margin-right: 1rem;
//         opacity: 50%;
//     }
// }

// .icon.Html {
//     list-style: none;

//     &::before {
//         background: #EF4923;
//     }
// }
// .icon.Css {
//     list-style: none;

//     &::before {
//         background: #4159A7;
//     }
// }
// .icon.Js {
//     list-style: none;

//     &::before {
//         background: #F5CE0F;
//     }
// }
// .icon.Sass {
//     list-style: none;

//     &::before {
//         background: #CA73AE;
//     }
// }
// .icon.Bootstrap {
//     list-style: none;

//     &::before {
//         background: #533B79;
//     }
// }
// .icon.Ai {
//     list-style: none;

//     &::before {
//         background: #F5841F;
//     }
// }
// .icon.Ae {
//     list-style: none;

//     &::before {
//         background: #BC9BC9;
//     }
// }
// .icon.Webpack {
//     list-style: none;

//     &::before {
//         background: #0062AD;
//     }
// }
// .icon.React {
//     list-style: none;

//     &::before {
//         background: #9ADFF4;
//     }
// }
// .icon.Xd {
//     list-style: none;

//     &::before {
//         background: #D15A9B;
//     }
// }
// .icon.Redux {
//     list-style: none;

//     &::before {
//         background: #6E54A4;              
//     }
// }
// .icon.Next {
//     list-style: none;

//     &::before {
//         background: #000000;
//     }
// }
// .icon.Express {
//     list-style: none;

//     &::before {
//         background: #000000;
//     }
// }
 
// .icon.Node {
//     list-style: none;

//     &::before {
//         background: #5FA241;
//     }
// }
 
// .icon.Mongodb {
//     list-style: none;

//     &::before {
//         background: #5FA241;
//     }
// }
 
// .icon.Mui {
//     list-style: none;

//     &::before {
//         background: #1E9BD8;
//     }
// }
// .icon.Git {
//     list-style: none;

//     &::before {
//         background: #E1426A;
//     }
// }
 