.QuickIntro{
    // padding: 3rem;
    margin-bottom: 5rem;
    display: grid;
    justify-content: center;

    .Paper{
        // padding: 2rem;
        display: grid;
        justify-content: center;
    }
}