@import 'colors';

.Cards{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    &__title{
        letter-spacing: 0.5rem;
        word-spacing: 1rem;
        font-size: 1.5rem;
        font-weight: 400;
        padding: 2rem;
        color: rgb(2, 2, 2);
        margin-bottom: 5rem;
        @include mobile{
            letter-spacing: 0rem;
            word-spacing: 0rem;
        }

    }
}
.Card{
    width: 90%;
    height: auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__Item{
        // list-style: none;
        line-height: 150%;
    }
    &__Description{
        padding: 0 1.5rem;
    }
}

.Banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.CardCon{
    width: 50%!important;
}




