@import 'colors';

.Cards{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    &__title{
        padding: 2rem;
        margin-bottom: 5rem;
        @include sectionTitle;
    }
}
.Card{
    width: 90%;
    height: auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &__Item{
        // list-style: none;
        line-height: 150%;

        //need responsive
        //skill features in card (__List)
        // @include desktop-1 {
        // &:nth-child(even){
        // margin-left: 3rem;
        // }
        //     }
        
    }
    &__Description{
        padding: 0 1.5rem;
    }
    // &__List{
    //     display: grid;
    //     grid-template-columns: 1fr;
    //     justify-items: space-between;
    //     padding-top: 2rem;
    //     padding-bottom: 2rem;
    //     @include desktop-1{
    //         grid-template-columns: repeat(2,1fr);
    //     }
    // }
}

.Banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.CardCon{
    width: 50%!important;
}




